body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
#textDisplay {
    border: 1px solid black;
    padding: 10px 10px;
    height: 330px;
}

#textBox 
{
    text-align: center;
}
.word
{
    font-size: 25px;
    font-weight: bold;
}
.highlightedWord
{
    color: rgb(223, 108, 0);
}
.wrong
{
    color: red;
}
.correct
{
    color: green;
}
.selected
{
    border-bottom: 1px solid #000;
    color: green;
}


#hname,#hacc,#hwpm
{
    border-bottom: 1px solid #000;
}
