body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("stripes.png");
}
.nav-wrapper{
    margin-bottom: 10px;
}
main {
    flex: 1 0 auto;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%; 
    color: rgb(0, 0, 0);
    text-align: center;
    padding-bottom: 8px;
  }
#textDisplay {
    padding: 25px 20px;
    height: 230px;
    border-radius: 15px;
    box-shadow: 1px 2px 10px 2px #888888;
    margin-top: 10px;
    background-color: rgba(255, 255, 254, 0.5);
    
}

#my-table{
    padding: 25px 20px;
}
#textBox 
{
    text-align: center;
}
.word
{
    font-size: 25px;
    font-weight: bold;
}
.highlightedWord
{
    color: rgb(223, 108, 0);
}
.wrong
{
    color: red;
}
.correct
{
    color: rgb(126, 128, 0);
}
.selected
{
    color: rgb(10, 172, 147);
}
#hname,#hacc,#hwpm
{
    border-bottom: 1px solid #000;
}
.row{
    margin-top: 28px;
    font-size: 16px;
}
#inputField{
    margin-top: 25px;
    width: 300px;
}
.wordCount{
    margin-right: 10px;
}
.wordCount:hover{
    font-size:20px;
    transition: font-size 1s;
    color: rgb(0, 0, 0); 
}
h1{
    font-size: 28px;
}
h2{
    margin-top: 8px;
    font-size: 24px;
}
.tooltip {
    position: relative;
    display: inline-block;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(122, 122, 122);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent rgb(122, 122, 122) transparent;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.8;
  }
  .col-m4{
    margin-top: 25px;
  }

  #chart{
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
  }

#my-table{
    padding: 60px;
}
.space{

}